@media (max-width: 768px) {

    #wrapper {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "right"
            "materiais"
            "section"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: 50vh 50vh 50vh 50vh 50vh 35vh;
    }

    #o-right, #o-main, #o-footer, #o-section, #materiais, #o-header {
        flex-direction: column;
        max-width: 100%;
    }

    #imginicial, #imgprojeto {
        display: none;
    }

    #materiais {
        background-image: none;
    }

    #materiais h1 {
        font-weight: 100;
        font-size: 20px;
    }

}